name: CI
on:
  push:

jobs:

  tests:
    name: Test
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v3

      - name: Install nvim
        shell: bash
        run: |
          mkdir -p /tmp/nvim
          wget -q https://github.com/neovim/neovim/releases/download/nightly/nvim.appimage -O /tmp/nvim/nvim.appimage
          cd /tmp/nvim
          chmod a+x ./nvim.appimage
          ./nvim.appimage --appimage-extract
          echo "/tmp/nvim/squashfs-root/usr/bin/" >> $GITHUB_PATH

      - name: Print nvim version
        shell: bash
        run: |
          nvim --version

      - name: Run tests
        shell: bash
        run: |
          make test
